@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
i{
    color: #333;
}
.wrapper{
    padding-top: 55px;    
}
.header-bar{
    background-color: #222;
    color: #9d9d9d;
    font-size: 18px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 4;
}
.header-bar a, .header-bar button{
    padding: 15px;
    display: inline-block;
    color: #9d9d9d;.login-box, .register-box {
    width: 360px;
    margin: 7% auto;
}
}
.header-bar a:focus,
.header-bar a:hover,
.header-bar button:focus,
.header-bar button:hover {
    color: #fff;
    text-decoration: none;
}
.header-bar .navbar-toggle {
    float: left;
    margin-top: 2px;
}
.header-bar .navbar-toggle .icon-bar{
    background-color: #9d9d9d;
}
.header-bar .navbar-nav{
    float: right;
}
.header-bar .nav>li{
    display: inline-block;
}
.header-bar+div{
    position: relative;
}
.ws-alert{
    width: 300px;
    position: fixed;
    z-index: 100;
    top: 43%;
    left: 50%;
    left: calc(50% - 150px);
}
.ws-alert .close{
    position: absolute;
    right: 5px;
    top: 0;
    font-weight: bold;
    opacity: .6;
}
.container-menu{
	width:230px;
    padding:20px 0;
    background-color:#f5f5f5;
    border-right: 1px solid #eee;
    float: left;
    min-height: calc(100vh - 55px);
}
.container-content{
	padding: 15px;
    float: left;
}
.content-header{
	margin-top: 0;
	padding-bottom: 9px;
	border-bottom: 1px solid #eee;
}
.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}
.link{
    cursor: pointer;
}
.login-page{
	background-color: #f4f4f4;
	background-color:rgb(234, 234, 234);
}
.login-box {
    width: 360px;
    margin: 7% auto;
}
.login-box-body {
    background: #fff;
    padding: 20px;
    border-top: 0;
    color: #666;
}
form.form-xhr{
    padding-top: 10px;
}
fieldset {
    padding: 20px;
    margin: 0 2px;
    border: 1px solid silver;
}
fieldset > legend{
    font-size: 25px;
    width: auto;
    margin: 0;
    border: none;
    padding: 0 5px;
}
form [type="submit"]{
    margin-top: 10px;
    float: right;
    margin-right: 1px
}
.form-group.add-field{
    padding-right: 15px;
    padding-left: 15px;
}
#list-agendamento ul{
    padding: 0 0 0 20px;
    margin: 0;
    list-style: none;

}
#list-agendamento li{
    padding: 4px;
    display: table;
}
#list-agendamento .dia{
    margin-left: -20px;
    border-radius: 4px;
    color:#FFF;
    background-color: #666;
}
.timeline-box {
    display: inline-block;
    vertical-align: top;
    padding: 0 10px 15px 10px;
}
.box-medicamento > a,.box-exame > a{
    float: right;
    margin-left: 10px;
}
.prototipo{
    display: none;
}
.box-medicamento .control-label,.box-exame .control-label{
    float: right;
}
.checkbox label, .radio label{
    padding-right: 20px;
}
.loader {
  display: inline-block;
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid #3498db;
  width: 14px;
  height: 14px;
  -webkit-animation: spin .8s linear infinite;
  animation: spin .8s linear infinite;
}
.loader+.loader,.loader+.glyphicon-search{
    display: none;
}
.add-item{
    margin-top: 2px;
}
.btn {
    margin-right: 10px;
}
.btn .popover-content{
    color: #333;
}
.container-menu {
    position: fixed;
    top: 57px;
    left: 0;
    min-height: 100%;
    width: 230px;
    z-index: 810;
    -webkit-transition: -webkit-transform .3s ease-in-out,width .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out,width .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out,width .3s ease-in-out;
    transition: transform .3s ease-in-out,width .3s ease-in-out;
}
.container-content {
    -webkit-transition: -webkit-transform .3s ease-in-out,margin .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out,margin .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out,margin .3s ease-in-out;
    transition: transform .3s ease-in-out,margin .3s ease-in-out;
    margin-left: 230px;
}
@media (max-width:767px){
    .content-header{
        font-size: 26px;
    }
    .nav-tabs>li>a {
        padding: 10px 6px;
        font-size: 13px;
    }
}
@media (max-width: 992px){
    .table>tbody>tr>td:not(:first-child):not(:last-child),
    .table>tbody>tr>th:not(:first-child):not(:last-child){
        display: none;
    }
}
@media (max-width: 1199px){
    .container-menu {
        -webkit-transform: translate(-230px, 0);
        -ms-transform: translate(-230px, 0);
        -o-transform: translate(-230px, 0);
        transform: translate(-230px, 0);
    }
    .sidebar-open .container-menu {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    .container-content{
        margin-left: 0;
    }
}
@media (min-width: 1200px){
    .container-content{
        width: calc(100% - 230px);
        padding: 20px 40px;
    }
    .container-menu {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    .navbar-toggle {
        display: none !important;
    }
}